<!--/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="description" content="User Authentication">
  		<meta name="author" content="">

  		<title>CentBunk</title>
        <!-- Ext JS Files -->
        <link rel="stylesheet" href="css/ext-all.css"/>
        <link rel="stylesheet" href="css/app.css"/>
        <script type="text/javascript" src="js/ext-all-debug.js"></script>

  	</head>

    		{{{body}}}

</html>
